.sideButton {
    -fx-background-color:  #003366;
}

.sideButton:hover {
    -fx-background-color: green;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
.sideButton:pressed {
    -fx-background-color: green;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.sideButton:focused {
    -fx-background-color: green;
}

.sideButton:default {
    -fx-background-color: green;
}